# <font color=green> PYTHON FOR DATA SCIENCE - NUMPY
---

# <font color=green> 1. INTRODUCTION TO PYTHON
---

# 1.1 Introduction

> Python is a high-level programming language that supports multiple programming paradigms. It is an *open source* project and since its inception in 1991, it has become one of the most popular interpreted programming languages.
>
> In recent years Python has developed an active community of scientific processing and data analysis and has been standing out as one of the most relevant languages when it comes to data science and machine learning, both in the academic environment and in the market.

# 1.2 Installation and development environment

### Local Installation

### https://www.python.org/downloads/
### or
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Checking version

In [26]:
#Other method !python --version
!python -V

Python 3.7.13

# 1.3 Working with Numpy arrays

In [27]:
import numpy as np

In [28]:
km = np.loadtxt('cars-km.txt')

In [32]:
years = np.loadtxt('cars-years.txt', dtype = int)

### Getting the average mileage per year

In [40]:
km_average = km / (years - 2019)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

In [41]:
km_average

array([-2.77562500e+03, -2.04000000e+02, -1.28010345e+03,             nan,
       -1.98130769e+03, -1.53257143e+03,             nan, -7.75990000e+03,
       -1.10218889e+04, -4.74725000e+03, -7.56411765e+02, -6.71000000e+02,
       -4.98738889e+03,             nan, -4.14570000e+03, -3.85356667e+04,
       -6.63557143e+03,             nan, -1.23620000e+04, -7.58650000e+03,
       -5.95252941e+03,             nan, -3.92316000e+03, -3.67710714e+03,
                   nan,             nan, -1.93166667e+03,             nan,
       -3.46164706e+03, -3.37075000e+03, -1.37104545e+03, -2.22216667e+03,
       -1.77200000e+04, -1.20742857e+03, -1.81368000e+04, -1.83229167e+03,
                   nan,             nan, -5.52600000e+02,             nan,
       -1.55691667e+04, -2.54762500e+03,             nan, -5.07658824e+03,
                   nan, -5.73823529e+02, -4.66300000e+03, -1.33055556e+02,
                   nan, -5.02181250e+03, -8.55540000e+03, -3.88430769e+03,
       -3.56400000e+03, -7.22669231e+03, -3.92722222e+03, -3.24028000e+03,
       -9.95941667e+03,             nan,             nan,             nan,
                   nan,             nan, -5.94475000e+04, -6.06362500e+03,
       -5.60622222e+03, -4.15865217e+03,             nan, -3.61980000e+03,
                   nan, -2.42766667e+03, -9.52080000e+02, -7.08266667e+03,
       -2.47250000e+03, -2.05623077e+03, -7.38816667e+03, -4.72944000e+03,
       -1.03461818e+04, -5.54545455e+01,             nan,             nan,
       -6.44350000e+02, -6.63391667e+03, -3.49707692e+03, -1.78054167e+03,
                   nan,             nan, -3.92380000e+04, -1.42356250e+04,
                   nan, -1.79476471e+03, -1.24778333e+04, -5.98800000e+04,
       -2.78533333e+03, -5.84063636e+03, -8.86610000e+04, -2.83687500e+02,
       -6.88225000e+03, -2.21433333e+03, -1.02223333e+04,             nan,
       -6.28523077e+03, -3.92450000e+03,             nan, -2.28192500e+04,
       -2.65440000e+04, -2.62980000e+04, -1.75937037e+03, -4.94755556e+03,
       -1.10900000e+03, -4.60683333e+03, -3.53987500e+03, -3.47140000e+03,
       -6.72863636e+03, -2.53266667e+03,             nan, -5.41050000e+03,
                   nan,             nan, -7.38076923e+02, -2.47630000e+04,
       -4.36575000e+03, -8.56750000e+03, -4.80025000e+04, -1.50661905e+03,
                   nan, -4.00935000e+03,             nan, -5.82120000e+03,
       -3.85450000e+03, -1.28068000e+03,             nan, -2.27776000e+03,
                   nan, -2.16297500e+04, -2.09608696e+02, -4.59204545e+03,
       -1.18096154e+03,             nan, -1.20574074e+03, -4.30787500e+03,
                   nan, -1.90651724e+03,             nan,             nan,
       -4.14035714e+03, -2.29093103e+03, -1.38285714e+04, -1.18641667e+03,
       -3.31600000e+03, -5.94973684e+03, -6.76129412e+03, -1.37956522e+02,
       -3.63526087e+03, -6.33900000e+03, -3.40900000e+03, -3.85666667e+02,
       -4.37833333e+02, -5.20340000e+03,             nan,             nan,
       -4.68100000e+03, -4.91822727e+03, -3.64061905e+03, -3.84553333e+03,
       -4.20043478e+03, -2.72502500e+04, -8.73733333e+03, -3.28364286e+03,
       -2.45910000e+03, -2.07945833e+03, -1.48538462e+03, -4.06640000e+03,
       -1.23190000e+04, -5.11390476e+03, -9.14600000e+03,             nan,
       -1.79240000e+04,             nan, -4.03272414e+03, -2.04760000e+03,
       -1.82082759e+03, -6.80692308e+02, -5.39552941e+03, -1.14485714e+03,
       -2.77355556e+03,             nan,             nan, -3.72778571e+03,
       -9.28433333e+03,             nan, -6.77600000e+03,             nan,
       -8.39744444e+03, -1.34636000e+03, -5.79672222e+03, -5.10200000e+03,
       -8.24565217e+02, -3.35234615e+03, -2.55846154e+02, -3.09655556e+03,
                   nan,             nan,             nan, -5.36000000e+03,
                   nan, -2.28926667e+04, -1.43394000e+04,             nan,
       -8.69575000e+03, -8.44300000e+03, -3.70117391e+03, -8.00352941e+02,
       -2.54621429e+03, -3.96366667e+03, -7.02300000e+02, -2.94242857e+03,
                   nan, -4.36818182e+03, -3.58275862e+03, -2.43411111e+03,
       -4.10633333e+03,             nan, -5.54830000e+04, -1.99837500e+03,
       -3.81207143e+03, -8.39750000e+02, -2.75169231e+03, -3.82142857e+00,
       -2.99785714e+02, -1.88627273e+03, -6.10536842e+03, -8.40483333e+03,
       -5.19038462e+03, -2.12425000e+03, -4.01818182e+02,             nan,
       -2.54508696e+03,             nan,             nan, -2.24032000e+04,
       -6.12266667e+03, -1.02533636e+04,             nan,             nan,
       -1.32757143e+03,             nan, -2.39491304e+03, -6.09950000e+03,
                   nan, -9.96500000e+03, -7.11533333e+03, -3.92432000e+03,
       -5.94000000e+03, -5.50100000e+03, -1.07075000e+03, -3.09629412e+03,
       -3.34130435e+02, -1.85881481e+03])

In [42]:
type(km_average)

numpy.ndarray

# <font color=green> 2. BASIC CHARACTERISTICS OF THE LANGUAGE
---

# 2.1 Math operations

### Arithmetic operators: $+$, $-$, $*$, $/$, $**$, $\%$, $//$

### Addition ($+$)

### Subtraction ($-$)

### Multiplication ($*$)

### Division ($/$) e ($//$)
The division operation always returns a floating point number

### Exponentiation ($**$)

### Rest of Division ($\%$)

### Mathematical expressions

### The variable _

In interactive mode, the last printed result is assigned to the variable _

# 2.2 Variables

### Variable names

- Variable names can start with letters (a - z, A - Z) or the character *underscore* (_):

    > Height
    >
    > _weight
    
- The rest of the name can contain letters, numbers and the character "_":

    > name_of_variable
    >
    > _value
    >
    > day_11_28_
    

- The names are *case sensitive*:

    > Name_Of_Variable $\ne$ name_of_variable $\ne$ NAME_OF_VARIABLE
    
### <font color=red>Note:
- There are some reserved words in the language that cannot be used as variable names.:

| |List of reserved words in Python| |
|:-------------:|:------------:|:-------------:|
| and           | as           | not           | 
| assert        | finally      | or            | 
| break         | for          | pass          | 
| class         | from         | nonlocal      | 
| continue      | global       | raise         | 
| def           | if           | return        | 
| del           | import       | try           | 
| elif          | in           | while         | 
| else          | is           | with          | 
| except        | lambda       | yield         | 
| False         | True         | None          |

### Declaration of variables

### Assignment operators: $=$, $+=$, $-=$, $*=$, $/=$, $**=$, $\%=$, $//=$

# $$km_{average} = \frac {km_{total}}{(Year_{current} - Year_{manufacturing})}$$

### Operations with variables

### Conclusion:
```
"value = value + 1" it's equivalent to "value += 1"
```

### Multiple declaration

# 2.3 Data types

Data types specify how numbers and characters will be stored and manipulated within a program. Python's basic data types are:

1. **Number**
    1. ***int*** - Integers
    - ***float*** - Floating point
- **Boolean** - Assumes True or False values. Essential when we start working with conditional statements
- ***String*** - A sequence of one or more characters that can include letters, numbers, and other types of characters. Represents a text.
- **None** - Represents the absence of a value

### Number

### Boolean

### String

### None

# 2.4 Type conversion

Functions int(), float(), str()

# 2.5 indentation, comments, and *string* formatting

### Indentation

In Python, programs are structured using indentation. In any programming language, the practice of indentation is very useful, making the code easier to read and also to maintain. In Python, indentation is not just a matter of organization and style, but a language requirement.

In [11]:
current_year = 2019
brand_new_car = 2019

if (current_year == brand_new_car):
    print(True)
else:
    print(False)

True

### Comments

Comments are extremely important in a program. It consists of text that describes what the program or a specific part of the program is doing. Comments are ignored by the Python interpreter.

We can have single-line or multi-line comments.

In [12]:
# this is a comment
current_year = 2019
current_year

2019

In [13]:
# this
# is a  
# comment
current_year = 2019
current_year

2019

In [14]:
'''this is a
comment'''
current_year = 2019
current_year

2019

In [15]:
# Defining variables
current_year = 2019
brand_new_car = 2019

'''
Conditional structure that we will
learn in the next class
'''
if (current_year == brand_new_car):   # Testing if condition is true
    print(True)
else:                               # Testing if condition is false
    print(False)

True

### *String* formatting

## *str % value*
https://docs.python.org/3.6/library/stdtypes.html#old-string-formatting

## *str.format()*

https://docs.python.org/3.6/library/stdtypes.html#str.format

## *f-Strings*

https://docs.python.org/3.6/reference/lexical_analysis.html#f-strings

# <font color=green> 3. WORKING WITH LISTS
---

# 3.1 Creating lists

Lists are **mutable** sequences that are used to store collections of items, usually homogeneous. They can be built in several ways:
```
- Using a pair of square brackets: [ ], [ 1 ]
- Using a pair of square brackets with comma-separated items: [ 1, 2, 3 ]
```

In [16]:
Accessories = ['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats', 'Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor']
Accessories

['Alloy wheels',
 'Power locks',
 'Autopilot',
 'Leather seats',
 'Air conditioning',
 'Parking sensor',
 'Twilight sensor',
 'Rain sensor']

### Lista com tipos de dados variados

In [17]:
Car_1 = ['Jetta Variant', '4.0 Turbo Engine', 2003, 44410.0, False, ['Alloy Wheels', 'Power Locks', 'Autopilot'], 88078.64]
Car_2 = ['Passat', 'Diesel Engine', 1991, 5712.0, False, ['Multimedia Center', 'Panoramic Roof', 'ABS Brakes'], 106161.94]

# 3.2 List operations

https://docs.python.org/3.6/library/stdtypes.html#common-sequence-operations

## *x in A*

Returns **True** if an element in the list *A* is equal to *x*.

## *A + B*

Concatenates lists A and B.

In [18]:
A = ['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats']
B = ['Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor']

## *len(A)*

List size A.

# 3.3 Selections in lists

## *A[ i ]*

Returns the i-th item in the list *A*.

<font color=red>**Note:**</font> Lists have zero-source indexing.

## *A[ i : j ]*

Cut list *A* from index i to j. In this slicing the element with index i is **included** and the element with index j is **not included** in the result.

# 3.4 List methods

https://docs.python.org/3.6/library/stdtypes.html#mutable-sequence-types

## *A.sort()*

Sort the *A* list.

## *A.append(x)*

Add the *x* element to the end of the *A* list.

## *A.pop(i)*

Removes and returns index element i from list *A*.

<font color=red>**Note:**</font> By *default* the *pop()* method removes and returns the last element of a list.

## *A.copy()*

Creates a copy of the *A* list.

<font color=red>**Note:**</font> The same result can be obtained with the following code:
```
A[:]
```

# <font color=green> 4. REPETITION AND CONDITIONAL STRUCTURES
---

# 4.1 *For* instruction

#### Standard format

```
for <variable> in <collection>:
    <instruction>
```

### Loops with lists

###  List comprehensions

https://docs.python.org/3.6/tutorial/datastructures.html#list-comprehensions

*range()* -> https://docs.python.org/3.6/library/functions.html#func-range

# 4.2 Nested loops

In [19]:
data = [
     ['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats', 'Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor'],
     ['Multimedia center', 'Panoramic roof', 'ABS brakes', '4 X 4', 'Digital panel', 'Autopilot', 'Leather seats', 'Parking camera'],
     ['Autopilot', 'Stability control', 'Twilight sensor', 'ABS brakes', 'Automatic transmission', 'Leather seats', 'Multimedia center', 'Power windows']
]
data

[['Alloy wheels',
  'Power locks',
  'Autopilot',
  'Leather seats',
  'Air conditioning',
  'Parking sensor',
  'Twilight sensor',
  'Rain sensor'],
 ['Multimedia center',
  'Panoramic roof',
  'ABS brakes',
  '4 X 4',
  'Digital panel',
  'Autopilot',
  'Leather seats',
  'Parking camera'],
 ['Autopilot',
  'Stability control',
  'Twilight sensor',
  'ABS brakes',
  'Automatic transmission',
  'Leather seats',
  'Multimedia center',
  'Power windows']]

## *set()*

https://docs.python.org/3.6/library/stdtypes.html#types-set

https://docs.python.org/3.6/library/functions.html#func-set

### List comprehensions

# 4.3 *if* statement

#### Standard format

```
if <condition>:
     <statements if the condition is true>
```

### Comparison operators: $==$, $!=$, $>$, $<$, $>=$, $<=$
### AND
### Logical operators: $and$, $or$, $not$

In [20]:
# 1st item on the list - Vehicle name
# 2nd item on the list - Year of manufacture
# 3rd item on the list - Vehicle is zero km?

data = [
    ['Jetta Variant', 2003, False],
    ['Passat', 1991, False],
    ['Crossfox', 1990, False],
    ['DS5', 2019, True],
    ['Aston Martin DB4', 2006, False],
    ['Palio Weekend', 2012, False],
    ['A5', 2019, True],
    ['Srie 3 Cabrio', 2009, False],
    ['Dodge Jorney', 2019, False],
    ['Carens', 2011, False]
]
data

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['DS5', 2019, True],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Srie 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

### List comprehensions

# 4.4 Instructions *if-else* and *if-elif-else*

#### Standard format

```
if <condition>:
    <statements if the condition is true>
else:
    <instructions if the condition is not true>
```

#### Standard format

```
if <condition 1>:
     <instructions if condition 1 is true>
elif <condition 2>:
     <instructions if condition 2 is true>
elif <condition 3>:
     <instructions if condition 3 is true>
                        .
                        .
                        .
else:
    <instructions if the above conditions are not true>
```

In [21]:
print('AND')
print(f'(True and True) the result is: {True and True}')
print(f'(True and False) the result is: {True and False}')
print(f'(False and True) the result is: {False and True}')
print(f'(False and False) the result is: {False and False}')

AND
(True and True) the result is: True
(True and False) the result is: False
(False and True) the result is: False
(False and False) the result is: False

In [22]:
print('OR')
print(f'(True or True) the result is: {True or True}')
print(f'(True or False) the result is: {True or False}')
print(f'(False or True) the result is: {False or True}')
print(f'(False or False) the result is: {False or False}')

OR
(True or True) the result is: True
(True or False) the result is: True
(False or True) the result is: True
(False or False) the result is: False

# <font color=green> 5. BASIC NUMPY
---

Numpy is short for Numerical Python and is one of the most important packages for numerical processing in Python. Numpy provides the basis for most scientific application packages that use Python numeric data (data structures and algorithms). We can highlight the following features that the Numpy package contains:

- A powerful multidimensional array object;
- Sophisticated mathematical functions for operations with arrays without the need to use *for* loops;
- Linear algebra and random number generation features

In addition to its obvious scientific uses, the NumPy package is also widely used in data analysis as an efficient multidimensional container of generic data for transport between various Python algorithms and libraries.

**Version:** 1.16.5

**Installation:** https://scipy.org/install.html

**Documentation:** https://numpy.org/doc/1.16/

### packages

There are several Python packages available for download on the internet. Each package aims to solve a certain type of problem and for that, new types, functions and methods are developed.

Some packages are widely used in a data science context such as:

- Numpy
- pandas
- Scikit-learn
- Matplotlib

Some packages are not shipped with the default Python installation. In this case we must install the packages we need on our system in order to use their features.

### Importing full package

https://numpy.org/doc/1.16/reference/generated/numpy.arange.html

### Importing full package and assigning a new name

### Importing part of the package

# 5.1 Creating Numpy arrays

### From lists

https://numpy.org/doc/1.16/user/basics.creation.html

https://numpy.org/doc/1.16/user/basics.types.html

### From external data

https://numpy.org/doc/1.16/reference/generated/numpy.loadtxt.html

### Two-dimensional arrays

In [23]:
data = [
     ['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats', 'Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor'],
     ['Multimedia center', 'Panoramic roof', 'ABS brakes', '4 X 4', 'Digital panel', 'Autopilot', 'Leather seats', 'Parking camera'],
     ['Autopilot', 'Stability control', 'Twilight sensor', 'ABS brakes', 'Automatic transmission', 'Leather seats', 'Multimedia center', 'Power windows']
]
data

[['Alloy wheels',
  'Power locks',
  'Autopilot',
  'Leather seats',
  'Air conditioning',
  'Parking sensor',
  'Twilight sensor',
  'Rain sensor'],
 ['Multimedia center',
  'Panoramic roof',
  'ABS brakes',
  '4 X 4',
  'Digital panel',
  'Autopilot',
  'Leather seats',
  'Parking camera'],
 ['Autopilot',
  'Stability control',
  'Twilight sensor',
  'ABS brakes',
  'Automatic transmission',
  'Leather seats',
  'Multimedia center',
  'Power windows']]

### Comparing performance with lists

# 5.2 Arithmetic operations with Numpy arrays

### Operations between arrays and constants

In [24]:
km = [44410., 5712., 37123., 0., 25757.]
years = [2003, 1991, 1990, 2019, 2006]

In [25]:
km = np.array([44410., 5712., 37123., 0., 25757.])
years = np.array([2003, 1991, 1990, 2019, 2006])

NameError: ignored

# Nova seo

### Operations between arrays

### Operations with two-dimensional arrays

![1410-img01.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img01.png)

# 5.3 Selections with Numpy arrays

![1410-img01.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img01.png)

![1410-img02.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img02.png)

### Indexing

<font color=red>**Note:**</font> Indexing starts at zero.

## <font color=green>**Hint:**</font>
### *ndarray[ row ][ column ]* or *ndarray[ row, column ]*

### Slicing
 
The syntax for slicing a Numpy array is $i : j : k$ where $i$ is the start index, $j$ is the stop index, and $k$ is the step indicator ($k\neq0$ )
 
<font color=red>**Note:**</font> In slices (*slices*) the item with index i is **included** and the item with index j is **not included** in the result.

![1410-img01.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img01.png)

### Indexing with boolean array

<font color=red>**Note:**</font> Selects a group of rows and columns according to labels or a boolean array.

# 5.4 Numpy arrays attributes and methods

### Attributes

https://numpy.org/doc/1.16/reference/arrays.ndarray.html#array-attributes

## *ndarray.shape*

Returns a tuple with the dimensions of the array.

## *ndarray.ndim*

Returns the number of dimensions in the array.

## *ndarray.size*

Returns the number of elements in the array.

## *ndarray.dtype*

Returns the data type of array elements.

## *ndarray.T*

Returns the transposed array, that is, converts rows to columns and vice versa.

### Methods

https://numpy.org/doc/1.16/reference/arrays.ndarray.html#array-methods

## *ndarray.tolist()*

Returns the array as a Python list.

## *ndarray.reshape(shape[, order])*

Retorna um array que contm os mesmos dados com uma nova forma.

In [ ]:
km = [44410, 5712, 37123, 0, 25757]
years = [2003, 1991, 1990, 2019, 2006]

## *ndarray.resize(new_shape[, refcheck])*

Change the shape and size of the array.

# 5.5 Statistics with Numpy arrays

https://numpy.org/doc/1.16/reference/arrays.ndarray.html#calculation

AND

https://numpy.org/doc/1.16/reference/routines.statistics.html

AND

https://numpy.org/doc/1.16/reference/routines.math.html

In [ ]:
years = np.loadtxt(fname = "cars-years.txt", dtype = int)
km = np.loadtxt(fname = "cars-km.txt")
value = np.loadtxt(fname = "cars-value.txt")

https://numpy.org/doc/1.16/reference/generated/numpy.column_stack.html

## *np.mean()*

Returns the average of array elements along the specified axis.

## *np.std()*

Returns the standard deviation of array elements along the specified axis.

## *ndarray.sum()*

Returns the sum of array elements along the specified axis.

## *np.sum()*

Returns the sum of array elements along the specified axis.