# <font color=green> PYTHON FOR DATA SCIENCE - NUMPY
---

# <font color=green> 1. INTRODUCTION TO PYTHON
---

# 1.1 Introduction

> Python is a high-level programming language that supports multiple programming paradigms. It is an *open source* project and since its inception in 1991, it has become one of the most popular interpreted programming languages.
>
> In recent years Python has developed an active community of scientific processing and data analysis and has been standing out as one of the most relevant languages when it comes to data science and machine learning, both in the academic environment and in the market.

# 1.2 Installation and development environment

### Local Installation

### https://www.python.org/downloads/
### or
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Checking version

In [ ]:
#Other method !python --version
!python -V

Python 3.7.13

# 1.3 Working with Numpy arrays

In [ ]:
import numpy as np

In [ ]:
km = np.loadtxt('cars-km.txt')

In [ ]:
years = np.loadtxt('cars-years.txt', dtype = int)

### Getting the average mileage per year

In [ ]:
km_average = km / (years - 2019)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

In [ ]:
km_average

array([-2.77562500e+03, -2.04000000e+02, -1.28010345e+03,             nan,
       -1.98130769e+03, -1.53257143e+03,             nan, -7.75990000e+03,
       -1.10218889e+04, -4.74725000e+03, -7.56411765e+02, -6.71000000e+02,
       -4.98738889e+03,             nan, -4.14570000e+03, -3.85356667e+04,
       -6.63557143e+03,             nan, -1.23620000e+04, -7.58650000e+03,
       -5.95252941e+03,             nan, -3.92316000e+03, -3.67710714e+03,
                   nan,             nan, -1.93166667e+03,             nan,
       -3.46164706e+03, -3.37075000e+03, -1.37104545e+03, -2.22216667e+03,
       -1.77200000e+04, -1.20742857e+03, -1.81368000e+04, -1.83229167e+03,
                   nan,             nan, -5.52600000e+02,             nan,
       -1.55691667e+04, -2.54762500e+03,             nan, -5.07658824e+03,
                   nan, -5.73823529e+02, -4.66300000e+03, -1.33055556e+02,
                   nan, -5.02181250e+03, -8.55540000e+03, -3.88430769e+03,
       -3.56400000e+03, -7.22669231e+03, -3.92722222e+03, -3.24028000e+03,
       -9.95941667e+03,             nan,             nan,             nan,
                   nan,             nan, -5.94475000e+04, -6.06362500e+03,
       -5.60622222e+03, -4.15865217e+03,             nan, -3.61980000e+03,
                   nan, -2.42766667e+03, -9.52080000e+02, -7.08266667e+03,
       -2.47250000e+03, -2.05623077e+03, -7.38816667e+03, -4.72944000e+03,
       -1.03461818e+04, -5.54545455e+01,             nan,             nan,
       -6.44350000e+02, -6.63391667e+03, -3.49707692e+03, -1.78054167e+03,
                   nan,             nan, -3.92380000e+04, -1.42356250e+04,
                   nan, -1.79476471e+03, -1.24778333e+04, -5.98800000e+04,
       -2.78533333e+03, -5.84063636e+03, -8.86610000e+04, -2.83687500e+02,
       -6.88225000e+03, -2.21433333e+03, -1.02223333e+04,             nan,
       -6.28523077e+03, -3.92450000e+03,             nan, -2.28192500e+04,
       -2.65440000e+04, -2.62980000e+04, -1.75937037e+03, -4.94755556e+03,
       -1.10900000e+03, -4.60683333e+03, -3.53987500e+03, -3.47140000e+03,
       -6.72863636e+03, -2.53266667e+03,             nan, -5.41050000e+03,
                   nan,             nan, -7.38076923e+02, -2.47630000e+04,
       -4.36575000e+03, -8.56750000e+03, -4.80025000e+04, -1.50661905e+03,
                   nan, -4.00935000e+03,             nan, -5.82120000e+03,
       -3.85450000e+03, -1.28068000e+03,             nan, -2.27776000e+03,
                   nan, -2.16297500e+04, -2.09608696e+02, -4.59204545e+03,
       -1.18096154e+03,             nan, -1.20574074e+03, -4.30787500e+03,
                   nan, -1.90651724e+03,             nan,             nan,
       -4.14035714e+03, -2.29093103e+03, -1.38285714e+04, -1.18641667e+03,
       -3.31600000e+03, -5.94973684e+03, -6.76129412e+03, -1.37956522e+02,
       -3.63526087e+03, -6.33900000e+03, -3.40900000e+03, -3.85666667e+02,
       -4.37833333e+02, -5.20340000e+03,             nan,             nan,
       -4.68100000e+03, -4.91822727e+03, -3.64061905e+03, -3.84553333e+03,
       -4.20043478e+03, -2.72502500e+04, -8.73733333e+03, -3.28364286e+03,
       -2.45910000e+03, -2.07945833e+03, -1.48538462e+03, -4.06640000e+03,
       -1.23190000e+04, -5.11390476e+03, -9.14600000e+03,             nan,
       -1.79240000e+04,             nan, -4.03272414e+03, -2.04760000e+03,
       -1.82082759e+03, -6.80692308e+02, -5.39552941e+03, -1.14485714e+03,
       -2.77355556e+03,             nan,             nan, -3.72778571e+03,
       -9.28433333e+03,             nan, -6.77600000e+03,             nan,
       -8.39744444e+03, -1.34636000e+03, -5.79672222e+03, -5.10200000e+03,
       -8.24565217e+02, -3.35234615e+03, -2.55846154e+02, -3.09655556e+03,
                   nan,             nan,             nan, -5.36000000e+03,
                   nan, -2.28926667e+04, -1.43394000e+04,             nan,
       -8.69575000e+03, -8.44300000e+03, -3.70117391e+03, -8.00352941e+02,
       -2.54621429e+03, -3.96366667e+03, -7.02300000e+02, -2.94242857e+03,
                   nan, -4.36818182e+03, -3.58275862e+03, -2.43411111e+03,
       -4.10633333e+03,             nan, -5.54830000e+04, -1.99837500e+03,
       -3.81207143e+03, -8.39750000e+02, -2.75169231e+03, -3.82142857e+00,
       -2.99785714e+02, -1.88627273e+03, -6.10536842e+03, -8.40483333e+03,
       -5.19038462e+03, -2.12425000e+03, -4.01818182e+02,             nan,
       -2.54508696e+03,             nan,             nan, -2.24032000e+04,
       -6.12266667e+03, -1.02533636e+04,             nan,             nan,
       -1.32757143e+03,             nan, -2.39491304e+03, -6.09950000e+03,
                   nan, -9.96500000e+03, -7.11533333e+03, -3.92432000e+03,
       -5.94000000e+03, -5.50100000e+03, -1.07075000e+03, -3.09629412e+03,
       -3.34130435e+02, -1.85881481e+03])

In [ ]:
type(km_average)

numpy.ndarray

# <font color=green> 2. BASIC CHARACTERISTICS OF THE LANGUAGE
---

# 2.1 Math operations

### Arithmetic operators: $+$, $-$, $*$, $/$, $**$, $\%$, $//$

### Addition ($+$)

In [ ]:
2 + 2

4

### Subtraction ($-$)

In [ ]:
2-2

0

### Multiplication ($*$)

In [ ]:
3 * 3

9

### Division ($/$) e ($//$)
The division operation always returns a floating point number

In [ ]:
10 / 3

3.3333333333333335

In [ ]:
10 // 3

3

### Exponentiation ($**$)

In [ ]:
 2 ** 3

8

### Rest of Division ($\%$)

In [ ]:
10 % 3

1

In [ ]:
10 % 2

0

### Mathematical expressions

In [ ]:
5 * 2 + 3 * 2

16

In [ ]:
(5 * 2) + (3 * 2)

16

In [ ]:
5 * (2 + 3) * 2

50

### Demystifying expressions

In [ ]:
10 % 2 + 3 // 10

0

In [ ]:
5 * (2 + 3) / 2

12.5

In [ ]:
2 ** 3 * 4

32

### The variable _

In interactive mode, the last printed result is assigned to the variable _

In [ ]:
5 * 2

10

In [ ]:
_ + 3 * 2

16

In [ ]:
_ / 8

2.0

# 2.2 Variables

### Variable names

- Variable names can start with letters (a - z, A - Z) or the character *underscore* (_):

    > Height
    >
    > _weight
    
- The rest of the name can contain letters, numbers and the character "_":

    > name_of_variable
    >
    > _value
    >
    > day_11_28_
    

- The names are *case sensitive*:

    > Name_Of_Variable $\ne$ name_of_variable $\ne$ NAME_OF_VARIABLE
    
### <font color=red>Note:
- There are some reserved words in the language that cannot be used as variable names.:

| |List of reserved words in Python| |
|:-------------:|:------------:|:-------------:|
| and           | as           | not           | 
| assert        | finally      | or            | 
| break         | for          | pass          | 
| class         | from         | nonlocal      | 
| continue      | global       | raise         | 
| def           | if           | return        | 
| del           | import       | try           | 
| elif          | in           | while         | 
| else          | is           | with          | 
| except        | lambda       | yield         | 
| False         | True         | None          |

### Declaration of variables

### Assignment operators: $=$, $+=$, $-=$, $*=$, $/=$, $**=$, $\%=$, $//=$

In [ ]:
 a = 2
 a

2

In [ ]:
a += 3
a

5

In [ ]:
a -= 3
a

2

In [ ]:
a *= 3
a

6

In [ ]:
a /= 4
a

1.5

In [ ]:
a **= 3
a

3.375

In [ ]:
a %= 2
a

1.375

In [ ]:
a //= 1
a

1.0

# $$km_{average} = \frac {km_{total}}{(Year_{current} - Year_{manufacturing})}$$

### Operations with variables

In [ ]:
year_current = 2019
year_manufacturing = 2003
km_total = 44410.0

In [ ]:
km_average = km_total / (year_current - year_manufacturing)

In [ ]:
km_average

2775.625

### Conclusion:
```
"value = value + 1" it's equivalent to "value += 1"
```

### Multiple declaration

In [ ]:
year_current, year_manufacturing, km_total, car = 2022, 2015, 13710.76, "Cross Fox"

In [ ]:
year_current

2022

In [ ]:
year_manufacturing

2015

In [ ]:
km_total

13710.76

In [ ]:
car

'Cross Fox'

# 2.3 Data types

Data types specify how numbers and characters will be stored and manipulated within a program. Python's basic data types are:

1. **Number**
    1. ***int*** - Integers
    - ***float*** - Floating point
- **Boolean** - Assumes True or False values. Essential when we start working with conditional statements
- ***String*** - A sequence of one or more characters that can include letters, numbers, and other types of characters. Represents a text.
- **None** - Represents the absence of a value

### Number

In [ ]:
current_year = 2019

In [ ]:
type(current_year)

int

In [ ]:
km_total = 44.09

In [ ]:
type(km_total)

float

### Boolean

In [ ]:
brand_new_car = True

In [ ]:
type(brand_new_car)

bool

In [ ]:
brand_new_car = False

In [ ]:
type(brand_new_car)

bool

### String

In [ ]:
name = 'New Jetta'
name

'New Jetta'

In [ ]:
name = "New Jetta"
name

'New Jetta'

In [ ]:
name = "New 'Jetta'"
name

"New 'Jetta'"

In [ ]:
name = 'New "Jetta"'
name

'New "Jetta"'

In [ ]:
name = '''name
  km
'''
car

'name\n  km\n'

In [ ]:
type(name)

str

### None

In [ ]:
car = None

In [ ]:
type(car)

NoneType

# 2.4 Type conversion

In [ ]:
a = 10
b = 20
c = "Python is "
d = 'NICE'

In [ ]:
type(a)

int

In [ ]:
type(b)

int

In [ ]:
type(c)

str

In [ ]:
type(d)

str

In [ ]:
a + b

30

In [ ]:
c + d

'Python is NICE'

Functions int(), float(), str()

In [ ]:
c + str(a)

'Python is 10'

In [ ]:
var_type = str(a)
type(var_type)

str

In [ ]:
float(a)

10.0

In [ ]:
pi = 3.14159265359

In [ ]:
type(pi)

float

In [ ]:
pi = int(pi)

In [ ]:
type(pi)

int

In [ ]:
pi

3

### Concatenating strings
#### Exercice

In [ ]:
text = 'The average vehicle mileage is '
Km = 100000
current_year = 2019
Year_manufacturing = 1999

In [ ]:
text + str( int( Km / (current_year - Year_manufacturing) ) ) + 'km'

'The average vehicle mileage is 5000km'

# 2.5 indentation, comments, and *string* formatting

### Indentation

In Python, programs are structured using indentation. In any programming language, the practice of indentation is very useful, making the code easier to read and also to maintain. In Python, indentation is not just a matter of organization and style, but a language requirement.

In [ ]:
current_year = 2019
brand_new_car = 2019

if (current_year == brand_new_car):
    print(True)
else:
    print(False)

True

### Comments

Comments are extremely important in a program. It consists of text that describes what the program or a specific part of the program is doing. Comments are ignored by the Python interpreter.

We can have single-line or multi-line comments.

In [ ]:
# this is a comment
current_year = 2019
current_year

2019

In [ ]:
# this
# is a  
# comment
current_year = 2019
current_year

2019

In [ ]:
'''this is a
comment'''
current_year = 2019
current_year

2019

In [ ]:
# Defining variables
current_year = 2019
brand_new_car = 2019

'''
Conditional structure that we will
learn in the next class
'''
if (current_year == brand_new_car):   # Testing if condition is true
    print(True)
else:                               # Testing if condition is false
    print(False)

True

### *String* formatting

## *str % value*
https://docs.python.org/3.6/library/stdtypes.html#old-string-formatting

## *str.format()*

https://docs.python.org/3.6/library/stdtypes.html#str.format

In [ ]:
my_name = 'Rodrigo'
random = 42

In [ ]:
print('Heloo {}!'.format(my_name))

Heloo Rodrigo!

In [ ]:
'Hello {}. Your favorite number is {}'.format(my_name, random)

'Hello Rodrigo. Your favorite number is 42'

In [ ]:
'Hello {name}. Your favorite number is {number}'.format(number = random, name = my_name)

'Hello Rodrigo. Your favorite number is 42'

## *f-Strings*

https://docs.python.org/3.6/reference/lexical_analysis.html#f-strings

In [ ]:
f'Hello {my_name}. Your favorite number is {random}'

'Hello Rodrigo. Your favorite number is 42'

### String formatting
#### Exercice

In [ ]:
print('Hello, {name}! This is your access number {hits}'.format(hits = 32, name = 'Rodrigo'))

Hello, Rodrigo! This is your access number 32

In [ ]:
name = 'Rodrigo'
hits = 32
print(f'Hello, {name}! This is your access number {hits}')

Hello, Rodrigo! This is your access number 32

In [ ]:
print('Hello, {}! This is your access number {}'.format('Rodrigo', 32))

Hello, Rodrigo! This is your access number 32

# <font color=green> 3. WORKING WITH LISTS
---

# 3.1 Creating lists

Lists are **mutable** sequences that are used to store collections of items, usually homogeneous. They can be built in several ways:
```
- Using a pair of square brackets: [ ], [ 1 ]
- Using a pair of square brackets with comma-separated items: [ 1, 2, 3 ]
```

In [ ]:
accessories = ['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats', 'Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor']

In [ ]:
accessories

['Alloy wheels',
 'Power locks',
 'Autopilot',
 'Leather seats',
 'Air conditioning',
 'Parking sensor',
 'Twilight sensor',
 'Rain sensor']

In [ ]:
type(accessories)

list

### List with different data types

In [ ]:
car_1 = ['Jetta Variant', '4.0 Turbo Engine', 2003, 44410.0, False, ['Alloy Wheels', 'Power Locks', 'Autopilot'], 88078.64]
car_2 = ['Passat', 'Diesel Engine', 1991, 5712.0, False, ['Multimedia Center', 'Panoramic Roof', 'ABS Brakes'], 106161.94]

In [ ]:
type(car_1)

list

In [ ]:
car_1

['Jetta Variant',
 '4.0 Turbo Engine',
 2003,
 44410.0,
 False,
 ['Alloy Wheels', 'Power Locks', 'Autopilot'],
 88078.64]

In [ ]:
car_2

['Passat',
 'Diesel Engine',
 1991,
 5712.0,
 False,
 ['Multimedia Center', 'Panoramic Roof', 'ABS Brakes'],
 106161.94]

In [ ]:
cars = [car_1, car_2]

In [ ]:
type(cars)

list

In [ ]:
cars

[['Jetta Variant',
  '4.0 Turbo Engine',
  2003,
  44410.0,
  False,
  ['Alloy Wheels', 'Power Locks', 'Autopilot'],
  88078.64],
 ['Passat',
  'Diesel Engine',
  1991,
  5712.0,
  False,
  ['Multimedia Center', 'Panoramic Roof', 'ABS Brakes'],
  106161.94]]

# 3.2 List operations

https://docs.python.org/3.6/library/stdtypes.html#common-sequence-operations

## *x in A*

Returns **True** if an element in the list *A* is equal to *x*.

In [ ]:
accessories

['Alloy wheels',
 'Power locks',
 'Autopilot',
 'Leather seats',
 'Air conditioning',
 'Parking sensor',
 'Twilight sensor',
 'Rain sensor']

In [ ]:
'Power locks' in accessories

True

In [ ]:
'4 x 4' in accessories

False

In [ ]:
'Power locks' not in accessories

False

In [ ]:
'4 x 4' not in accessories

True

## *A + B*

Concatenates lists A and B.

In [ ]:
A = ['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats']
B = ['Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor']

In [ ]:
A

['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats']

In [ ]:
B

['Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor']

In [ ]:
C = A + B

In [ ]:
C

['Alloy wheels',
 'Power locks',
 'Autopilot',
 'Leather seats',
 'Air conditioning',
 'Parking sensor',
 'Twilight sensor',
 'Rain sensor']

## *len(A)*

List size A.

In [ ]:
len(A)

4

In [ ]:
len(B)

4

In [ ]:
len(C)

8

### Working with lists
#### Exercice

In [ ]:
car = [
     'Jetta Variant',
     '4.0 Turbo Engine',
     2003,
     44410.0,
     False,
     ['Alloy wheels', 'Power locks', 'Autopilot'],
     88078.64
]

In [ ]:
'2003' in car

False

In [ ]:
'Alloy wheels' in car

False

In [ ]:
'False' not in car

True

# 3.3 Selections in lists

## *A[ i ]*

Returns the i-th item in the list *A*.

<font color=red>**Note:**</font> Lists have zero-source indexing.

In [ ]:
accessories = ['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats', 'Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor']

In [ ]:
accessories[0]

'Alloy wheels'

In [ ]:
accessories[1]

'Power locks'

In [ ]:
accessories[-1]

'Rain sensor'

In [ ]:
accessories[-2]

'Twilight sensor'

In [ ]:
C[0]

'Alloy wheels'

In [ ]:
car = [
     'Jetta Variant',
     '4.0 Turbo Engine',
     2003,
     44410.0,
     False,
     ['Alloy wheels', 'Power locks', 'Autopilot'],
     88078.64
]

In [ ]:
car[5]

['Alloy wheels', 'Power locks', 'Autopilot']

In [ ]:
car[5][0]

'Alloy wheels'

## *A[ i : j ]*

Cut list *A* from index i to j. In this slicing the element with index i is **included** and the element with index j is **not included** in the result.

In [ ]:
accessories[2:5]

['Autopilot', 'Leather seats', 'Air conditioning']

In [ ]:
accessories[2:]

['Autopilot',
 'Leather seats',
 'Air conditioning',
 'Parking sensor',
 'Twilight sensor',
 'Rain sensor']

In [ ]:
accessories[:5]

['Alloy wheels',
 'Power locks',
 'Autopilot',
 'Leather seats',
 'Air conditioning']

### Selections and slicing
#### Exercice

In [ ]:
letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [ ]:
letters[:2]

['A', 'B']

In [ ]:
letters[2:5]

['C', 'D', 'E']

In [ ]:
letters[-3:]

['F', 'G', 'H']

### Lists within lists
#### Exercice

In [ ]:
exercice_cars = [
     [
         'Jetta Variant',
         '4.0 Turbo Engine',
         2003,
         False,
         ['Alloy wheels', 'Power locks', 'Autopilot']
     ],
     [
         'Passat',
         'Diesel engine',
         1991,
         True,
         ['Multimedia centre', 'Panoramic roof', 'ABS brakes']
     ]
]

In [ ]:
exercice_cars[1][3]

True

In [ ]:
exercice_cars[1][-1][-2]

'Panoramic roof'

In [ ]:
exercice_cars[0][-1]

['Alloy wheels', 'Power locks', 'Autopilot']

# 3.4 List methods

https://docs.python.org/3.6/library/stdtypes.html#mutable-sequence-types

In [ ]:
accessories = ['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats', 'Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor']

## *A.sort()*

Sort the *A* list.

In [ ]:
accessories.sort()

In [ ]:
accessories

['Air conditioning',
 'Alloy wheels',
 'Autopilot',
 'Leather seats',
 'Parking sensor',
 'Power locks',
 'Rain sensor',
 'Twilight sensor']

## *A.append(x)*

Add the *x* element to the end of the *A* list.

In [ ]:
accessories.append('4 x 4')

In [ ]:
accessories

['Air conditioning',
 'Alloy wheels',
 'Autopilot',
 'Leather seats',
 'Parking sensor',
 'Power locks',
 'Rain sensor',
 'Twilight sensor',
 '4 x 4']

## *A.pop(i)*

Removes and returns index element i from list *A*.

<font color=red>**Note:**</font> By *default* the *pop()* method removes and returns the last element of a list.

In [ ]:
accessories.pop()

'4 x 4'

In [ ]:
accessories.pop(3)

'Leather seats'

In [ ]:
accessories

['Air conditioning',
 'Alloy wheels',
 'Autopilot',
 'Parking sensor',
 'Power locks',
 'Rain sensor',
 'Twilight sensor']

## *A.copy()*

Creates a copy of the *A* list.

<font color=red>**Note:**</font> The same result can be obtained with the following code:
```
A[:]
```

In [ ]:
accessories_copy = accessories.copy()

In [ ]:
accessories_copy.pop()

'Twilight sensor'

In [ ]:
accessories_copy.append('4 x 4')

In [ ]:
accessories

['Air conditioning',
 'Alloy wheels',
 'Autopilot',
 'Parking sensor',
 'Power locks',
 'Rain sensor',
 'Twilight sensor']

In [ ]:
accessories_copy

['Air conditioning',
 'Alloy wheels',
 'Autopilot',
 'Parking sensor',
 'Power locks',
 'Rain sensor',
 '4 x 4']

In [ ]:
new_list = accessories + accessories_copy
new_list.sort()

In [ ]:
new_list

['4 x 4',
 'Air conditioning',
 'Air conditioning',
 'Alloy wheels',
 'Alloy wheels',
 'Autopilot',
 'Autopilot',
 'Parking sensor',
 'Parking sensor',
 'Power locks',
 'Power locks',
 'Rain sensor',
 'Rain sensor',
 'Twilight sensor']

### Elaborations with lists
#### Exercice

In [ ]:
accessories = [
     'Alloy wheels',
     'Electric Locks',
     'Automatic pilot',
     'Leather Seats',
     'Air conditioning'
]

In [ ]:
accessories.append('Airbag')
accessories.sort()
accessories.pop()
accessories.append('Electric windows')
accessories

['Air conditioning',
 'Airbag',
 'Alloy wheels',
 'Automatic pilot',
 'Electric Locks',
 'Electric windows']

# <font color=green> 4. REPETITION AND CONDITIONAL STRUCTURES
---

# 4.1 *For* instruction

#### Standard format

```
for <variable> in <collection>:
    <instruction>
```

### Loops with lists

In [1]:
accessories = ['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats', 'Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor']

In [2]:
for item in accessories:
  print(item)

Alloy wheels
Power locks
Autopilot
Leather seats
Air conditioning
Parking sensor
Twilight sensor
Rain sensor

###  List comprehensions

https://docs.python.org/3.6/tutorial/datastructures.html#list-comprehensions

*range()* -> https://docs.python.org/3.6/library/functions.html#func-range

In [3]:
range(10)

range(0, 10)

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for i in range(10):
  print(i ** 2)

0
1
4
9
16
25
36
49
64
81

In [6]:
square = []

for i in range(10):
  square.append(i ** 2)

square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
square = [i ** 2 for i in range(10)]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# 4.2 Nested loops

In [9]:
data = [
     ['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats', 'Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor'],
     ['Multimedia center', 'Panoramic roof', 'ABS brakes', '4 X 4', 'Digital panel', 'Autopilot', 'Leather seats', 'Parking camera'],
     ['Autopilot', 'Stability control', 'Twilight sensor', 'ABS brakes', 'Automatic transmission', 'Leather seats', 'Multimedia center', 'Power windows']
]
data

[['Alloy wheels',
  'Power locks',
  'Autopilot',
  'Leather seats',
  'Air conditioning',
  'Parking sensor',
  'Twilight sensor',
  'Rain sensor'],
 ['Multimedia center',
  'Panoramic roof',
  'ABS brakes',
  '4 X 4',
  'Digital panel',
  'Autopilot',
  'Leather seats',
  'Parking camera'],
 ['Autopilot',
  'Stability control',
  'Twilight sensor',
  'ABS brakes',
  'Automatic transmission',
  'Leather seats',
  'Multimedia center',
  'Power windows']]

In [10]:
for lists in data:
  print(lists)

['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats', 'Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor']
['Multimedia center', 'Panoramic roof', 'ABS brakes', '4 X 4', 'Digital panel', 'Autopilot', 'Leather seats', 'Parking camera']
['Autopilot', 'Stability control', 'Twilight sensor', 'ABS brakes', 'Automatic transmission', 'Leather seats', 'Multimedia center', 'Power windows']

In [11]:
for lists in data:
  for item in lists:
    print(item)

Alloy wheels
Power locks
Autopilot
Leather seats
Air conditioning
Parking sensor
Twilight sensor
Rain sensor
Multimedia center
Panoramic roof
ABS brakes
4 X 4
Digital panel
Autopilot
Leather seats
Parking camera
Autopilot
Stability control
Twilight sensor
ABS brakes
Automatic transmission
Leather seats
Multimedia center
Power windows

In [14]:
accessories = []

for lists in data:
  for item in lists:
    accessories.append(item)

accessories

['Alloy wheels',
 'Power locks',
 'Autopilot',
 'Leather seats',
 'Air conditioning',
 'Parking sensor',
 'Twilight sensor',
 'Rain sensor',
 'Multimedia center',
 'Panoramic roof',
 'ABS brakes',
 '4 X 4',
 'Digital panel',
 'Autopilot',
 'Leather seats',
 'Parking camera',
 'Autopilot',
 'Stability control',
 'Twilight sensor',
 'ABS brakes',
 'Automatic transmission',
 'Leather seats',
 'Multimedia center',
 'Power windows']

## *set()*

https://docs.python.org/3.6/library/stdtypes.html#types-set

https://docs.python.org/3.6/library/functions.html#func-set

In [18]:
accessories_distinct = set(accessories)
accessories_distinct

{'4 X 4',
 'ABS brakes',
 'Air conditioning',
 'Alloy wheels',
 'Automatic transmission',
 'Autopilot',
 'Digital panel',
 'Leather seats',
 'Multimedia center',
 'Panoramic roof',
 'Parking camera',
 'Parking sensor',
 'Power locks',
 'Power windows',
 'Rain sensor',
 'Stability control',
 'Twilight sensor'}

In [19]:
list(accessories_distinct)

['Panoramic roof',
 '4 X 4',
 'Parking sensor',
 'Digital panel',
 'ABS brakes',
 'Stability control',
 'Automatic transmission',
 'Rain sensor',
 'Alloy wheels',
 'Parking camera',
 'Leather seats',
 'Power locks',
 'Multimedia center',
 'Power windows',
 'Autopilot',
 'Air conditioning',
 'Twilight sensor']

### List comprehensions

In [20]:
[item for lists in data for item in lists]

['Alloy wheels',
 'Power locks',
 'Autopilot',
 'Leather seats',
 'Air conditioning',
 'Parking sensor',
 'Twilight sensor',
 'Rain sensor',
 'Multimedia center',
 'Panoramic roof',
 'ABS brakes',
 '4 X 4',
 'Digital panel',
 'Autopilot',
 'Leather seats',
 'Parking camera',
 'Autopilot',
 'Stability control',
 'Twilight sensor',
 'ABS brakes',
 'Automatic transmission',
 'Leather seats',
 'Multimedia center',
 'Power windows']

In [23]:
list(set([item for lists in data for item in lists]))

# OR
all_items = [item for lists in data for item in lists]
distinct_items = set(all_items)
items = list(distinct_items)

### Iterating through lists of lists
#### Exercise

In [38]:
data_exercise = [ 
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
]

In [37]:
result_2 = []
for lists in data_exercise:
    result_2 += lists
result_2

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [39]:
result_2 = []
for lists in data_exercise:
    result_2 += lists
result_2

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

In [40]:
[item for lists in data_exercise for item in lists]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

# 4.3 *if* statement

#### Standard format

```
if <condition>:
     <statements if the condition is true>
```

### Comparison operators: $==$, $!=$, $>$, $<$, $>=$, $<=$
### AND
### Logical operators: $and$, $or$, $not$

In [104]:
# 1st item on the list - Vehicle name
# 2nd item on the list - Year of manufacture
# 3rd item on the list - Vehicle is zero km?

data = [
    ['Jetta Variant', 2003, False],
    ['Passat', 1991, False],
    ['Crossfox', 1990, False],
    ['DS5', 2019, True],
    ['Aston Martin DB4', 2006, False],
    ['Palio Weekend', 2012, False],
    ['A5', 2019, True],
    ['Série 3 Cabrio', 2009, False],
    ['Dodge Jorney', 2019, False],
    ['Carens', 2011, False],
    ['Corolla', 2021, True]
]
data

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['DS5', 2019, True],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False],
 ['Corolla', 2021, True]]

In [105]:
for vehicle in data:
  if vehicle[-1]:
    print(vehicle)

['DS5', 2019, True]
['A5', 2019, True]
['Corolla', 2021, True]

In [106]:
brand_new_car = []

for vehicle in data:
  if vehicle[2]:
    brand_new_car.append(vehicle)

brand_new_car

[['DS5', 2019, True], ['A5', 2019, True], ['Corolla', 2021, True]]

In [107]:
used_car = []

for vehicle in data:
  if not vehicle[2]:
    used_car.append(vehicle)

used_car

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

### List comprehensions

In [108]:
[vehicle for vehicle in data if vehicle[2]]

[['DS5', 2019, True], ['A5', 2019, True], ['Corolla', 2021, True]]

In [109]:
[vehicle for vehicle in data if not vehicle[2]]

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

# 4.4 Instructions *if-else* and *if-elif-else*

#### Standard format

```
if <condition>:
    <statements if the condition is true>
else:
    <instructions if the condition is not true>
```

In [110]:
brand_new_car =[]
used_car = []

for vehicle in data:
  if vehicle[2]:
    brand_new_car.append(vehicle)
  else:
    used_car.append(vehicle)

In [111]:
brand_new_car

[['DS5', 2019, True], ['A5', 2019, True], ['Corolla', 2021, True]]

In [112]:
used_car

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

#### Standard format

```
if <condition 1>:
     <instructions if condition 1 is true>
elif <condition 2>:
     <instructions if condition 2 is true>
elif <condition 3>:
     <instructions if condition 3 is true>
                        .
                        .
                        .
else:
    <instructions if the above conditions are not true>
```

In [83]:
print('AND')
print(f'(True and True) the result is: {True and True}')
print(f'(True and False) the result is: {True and False}')
print(f'(False and True) the result is: {False and True}')
print(f'(False and False) the result is: {False and False}')

AND
(True and True) the result is: True
(True and False) the result is: False
(False and True) the result is: False
(False and False) the result is: False

In [84]:
print('OR')
print(f'(True or True) the result is: {True or True}')
print(f'(True or False) the result is: {True or False}')
print(f'(False or True) the result is: {False or True}')
print(f'(False or False) the result is: {False or False}')

OR
(True or True) the result is: True
(True or False) the result is: True
(False or True) the result is: True
(False or False) the result is: False

In [113]:
data

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['DS5', 2019, True],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False],
 ['Corolla', 2021, True]]

In [116]:
a, b, c = [], [], []

for item in data:
  if item[1] <= 2000:
    a.append(item)
  elif item[1] > 2000 and item[1] <= 2019:
    b.append(item)
  else:
    c.append(item)

In [117]:
a

[['Passat', 1991, False], ['Crossfox', 1990, False]]

In [118]:
b

[['Jetta Variant', 2003, False],
 ['DS5', 2019, True],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [119]:
c

[['Corolla', 2021, True]]

In [120]:
a, b, c = [], [], []

for item in data:
  if item[1] <= 2000:
    a.append(item)
  elif 2000 < item[1] <= 2019: # Other syntax
    b.append(item)
  else:
    c.append(item)

In [123]:
a

[['Passat', 1991, False], ['Crossfox', 1990, False]]

In [122]:
b

[['Jetta Variant', 2003, False],
 ['DS5', 2019, True],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [124]:
c

[['Corolla', 2021, True]]

# <font color=green> 5. BASIC NUMPY
---

Numpy is short for Numerical Python and is one of the most important packages for numerical processing in Python. Numpy provides the basis for most scientific application packages that use Python numeric data (data structures and algorithms). We can highlight the following features that the Numpy package contains:

- A powerful multidimensional array object;
- Sophisticated mathematical functions for operations with arrays without the need to use *for* loops;
- Linear algebra and random number generation features

In addition to its obvious scientific uses, the NumPy package is also widely used in data analysis as an efficient multidimensional container of generic data for transport between various Python algorithms and libraries.

**Version:** 1.16.5

**Installation:** https://scipy.org/install.html

**Documentation:** https://numpy.org/doc/1.16/

### packages

There are several Python packages available for download on the internet. Each package aims to solve a certain type of problem and for that, new types, functions and methods are developed.

Some packages are widely used in a data science context such as:

- Numpy
- pandas
- Scikit-learn
- Matplotlib

Some packages are not shipped with the default Python installation. In this case we must install the packages we need on our system in order to use their features.

### Importing full package

https://numpy.org/doc/1.16/reference/generated/numpy.arange.html

### Importing full package and assigning a new name

### Importing part of the package

# 5.1 Creating Numpy arrays

### From lists

https://numpy.org/doc/1.16/user/basics.creation.html

https://numpy.org/doc/1.16/user/basics.types.html

### From external data

https://numpy.org/doc/1.16/reference/generated/numpy.loadtxt.html

### Two-dimensional arrays

In [ ]:
data = [
     ['Alloy wheels', 'Power locks', 'Autopilot', 'Leather seats', 'Air conditioning', 'Parking sensor', 'Twilight sensor', 'Rain sensor'],
     ['Multimedia center', 'Panoramic roof', 'ABS brakes', '4 X 4', 'Digital panel', 'Autopilot', 'Leather seats', 'Parking camera'],
     ['Autopilot', 'Stability control', 'Twilight sensor', 'ABS brakes', 'Automatic transmission', 'Leather seats', 'Multimedia center', 'Power windows']
]
data

[['Alloy wheels',
  'Power locks',
  'Autopilot',
  'Leather seats',
  'Air conditioning',
  'Parking sensor',
  'Twilight sensor',
  'Rain sensor'],
 ['Multimedia center',
  'Panoramic roof',
  'ABS brakes',
  '4 X 4',
  'Digital panel',
  'Autopilot',
  'Leather seats',
  'Parking camera'],
 ['Autopilot',
  'Stability control',
  'Twilight sensor',
  'ABS brakes',
  'Automatic transmission',
  'Leather seats',
  'Multimedia center',
  'Power windows']]

### Comparing performance with lists

# 5.2 Arithmetic operations with Numpy arrays

### Operations between arrays and constants

In [ ]:
km = [44410., 5712., 37123., 0., 25757.]
years = [2003, 1991, 1990, 2019, 2006]

In [ ]:
km = np.array([44410., 5712., 37123., 0., 25757.])
years = np.array([2003, 1991, 1990, 2019, 2006])

NameError: ignored

# Nova seção

### Operations between arrays

### Operations with two-dimensional arrays

![1410-img01.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img01.png)

# 5.3 Selections with Numpy arrays

![1410-img01.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img01.png)

![1410-img02.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img02.png)

### Indexing

<font color=red>**Note:**</font> Indexing starts at zero.

## <font color=green>**Hint:**</font>
### *ndarray[ row ][ column ]* or *ndarray[ row, column ]*

### Slicing
 
The syntax for slicing a Numpy array is $i : j : k$ where $i$ is the start index, $j$ is the stop index, and $k$ is the step indicator ($k\neq0$ )
 
<font color=red>**Note:**</font> In slices (*slices*) the item with index i is **included** and the item with index j is **not included** in the result.

![1410-img01.png](https://caelum-online-public.s3.amazonaws.com/1410-pythondatascience/01/1410-img01.png)

### Indexing with boolean array

<font color=red>**Note:**</font> Selects a group of rows and columns according to labels or a boolean array.

# 5.4 Numpy arrays attributes and methods

### Attributes

https://numpy.org/doc/1.16/reference/arrays.ndarray.html#array-attributes

## *ndarray.shape*

Returns a tuple with the dimensions of the array.

## *ndarray.ndim*

Returns the number of dimensions in the array.

## *ndarray.size*

Returns the number of elements in the array.

## *ndarray.dtype*

Returns the data type of array elements.

## *ndarray.T*

Returns the transposed array, that is, converts rows to columns and vice versa.

### Methods

https://numpy.org/doc/1.16/reference/arrays.ndarray.html#array-methods

## *ndarray.tolist()*

Returns the array as a Python list.

## *ndarray.reshape(shape[, order])*

Retorna um array que contém os mesmos dados com uma nova forma.

In [ ]:
km = [44410, 5712, 37123, 0, 25757]
years = [2003, 1991, 1990, 2019, 2006]

## *ndarray.resize(new_shape[, refcheck])*

Change the shape and size of the array.

# 5.5 Statistics with Numpy arrays

https://numpy.org/doc/1.16/reference/arrays.ndarray.html#calculation

AND

https://numpy.org/doc/1.16/reference/routines.statistics.html

AND

https://numpy.org/doc/1.16/reference/routines.math.html

In [ ]:
years = np.loadtxt(fname = "cars-years.txt", dtype = int)
km = np.loadtxt(fname = "cars-km.txt")
value = np.loadtxt(fname = "cars-value.txt")

https://numpy.org/doc/1.16/reference/generated/numpy.column_stack.html

## *np.mean()*

Returns the average of array elements along the specified axis.

## *np.std()*

Returns the standard deviation of array elements along the specified axis.

## *ndarray.sum()*

Returns the sum of array elements along the specified axis.

## *np.sum()*

Returns the sum of array elements along the specified axis.